# DataFrame - 3

## Multi Index

In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [6]:
df   # DataFrame with multiple index/ index hierarchy

             A         B
G1 1  0.356559 -0.571679
   2  0.473892 -0.656087
   3 -0.826853  1.724225
G2 1  0.450765  1.678188
   2  0.091233 -1.293620
   3 -0.875725 -2.452044

In [7]:
# Selecting rows based on index

df.loc['G1']

          A         B
1  0.356559 -0.571679
2  0.473892 -0.656087
3 -0.826853  1.724225

In [11]:
df.loc['G1'].loc[1]

A    0.356559
B   -0.571679
Name: 1, dtype: float64

In [12]:
# set index names, for better understanding of data

df.index.names = ['Groups', 'Num']

In [13]:
df

                   A         B
Groups Num
G1     1    0.356559 -0.571679
       2    0.473892 -0.656087
       3   -0.826853  1.724225
G2     1    0.450765  1.678188
       2    0.091233 -1.293620
       3   -0.875725 -2.452044

**Cross Section**: Easy selection of rows for multi-index

In [14]:
df.xs('G1')

            A         B
Num
1    0.356559 -0.571679
2    0.473892 -0.656087
3   -0.826853  1.724225

In [16]:
# Select all rows(both groups) with Num=1

df.xs(1, level='Num')   # Select value '1' for level of index 'Num'

               A         B
Groups
G1      0.356559 -0.571679
G2      0.450765  1.678188